/* Add your CSS styles here */
body {
    font-family: 'Dancing Script', sans-serif;
    background-color: #fefee2;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
    color: #333;
    font-weight: lighter;
  }
  h2 {
    margin: 20px 0;
    font-size: 1.9em;
    color: #333;
    font-weight: lighter
  }
  .header-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .navigation {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  }
  .navigation a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0px;
  }
  .navigation a:hover {
    color: #000000;
    font-weight: bold;
  }
  .navigation a:active {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .main-content .column {
    flex: 1;
    margin: 0 10px;
  }
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
  }
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .card img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .card2 {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
  }
  .card2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .card2 img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
  }
  .card p {
    margin: 20px 0;
    font-size: 1.2em;
}
.footer {
  background-color: rgb(75, 75, 75);
  color: #fff;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
.footer p {
  margin: 0;
  font-size: 1.2em;
}
.liste {
    font-size: 1.5em;
  }
.main-content-lodge table {
    border-collapse: collapse;
  }
  .main-content-lodge th{
    border: 1px solid #ddd;
    padding: 8px;
    margin: 20 auto;
  }
  .main-content-lodge table td:first-child  { border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.8em;
    width: 15%;}
    .main-content-lodge table td:nth-child(2) { border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.8em;
    width: 35%;}
    .main-content-lodge table td:nth-child(3) { border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.8em; 
width: 15%;
text-align: center;}
.main-content-lodge table td:last-child   { border: 1px solid #ddd;
    padding: 8px;
    font-size: 0.8em;
    width: 35%;
}
iframe {
  display: block;
  margin: 0 auto;
}

.planning table {
  margin: 0 auto;
  font-size: 1.6em;
  text-align: center;
}
.planning th{
  border-bottom:1.5px solid #333;
  padding: 1px;
  font-size: 0.8em;
}
.planning table td:first-child  { 
  padding: 12px;
  font-size: 0.8em;}
.planning table td:nth-child(2) { 
  padding: 12px;
  font-size: 0.8em;}

.planning {
  margin: 0 auto;
  justify-content: center;
}


.countdown-container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 1.75em;
  text-align: center;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.image-container a{
  margin: 0 auto;
}
.lieu {
  font-size: 1.3em;
}
.planning{
  font-size: 1.3em;
}

.main-content-construction {
  justify-content: center;
}
  
/* Media queries */
@media (max-width: 600px) {
  .main-content .column {
    flex: 0 0 100%;
  }
  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}